	// Mixins
	@import "base/_mixins.scss";

	// CSS Font Stacks

	@import "base/_fonts.scss";

	// Variables
	@import "_variables.scss";

	// Normalize
	@import "base/_bizarro.scss";

	// Helpers
	@import "base/_helpers.scss";

	// -------------------------------------
	//   import the partials
	// -------------------------------------

	@import "modules/_m-buttons.scss";

  /* # This is a test */

	/* Provides extra visual weight and identifies the primary action in a set of buttons.

	<button class="btn primary">Primary</button>

	*/

	.btn.primary {
		background: steelblue;
		color: snow;
		border: 2px outset steelblue;
	}

	// Print styles
	@import "base/_print.scss";

	// DEBUG MODE
	$debugMode:         false;

	@import "base/_debug.scss";
