// Buttons
//
// A majority of buttons in the site are built from the same base class.
//
// :hovered    - Highlight the button when hovered.
// :disabled   - Make the button change appearance to reflect it being disabled.
// .primary    - Indicate that the button is the primary feature of this form.
//
// Markup:
// <a href="#" class="button">Link Button</a>
// <button class="button">Button Element</button>
//
// Styleguide 1.1

.button {
  background-color: 4B2409;
  border: 3px solid transparent;
  border-radius: 4px;
  
  &:hover {
    border-color: #f00;
  }
}
