// -------------------------------------
//   mixins
// -------------------------------------

@import  "mixins/_tint-and-shade.scss",
         "mixins/_media-queries.scss",
         "mixins/_maths.scss",
         "mixins/_misc.scss",
         "mixins/_triangles.scss",
         "mixins/_shapes.scss",
         "mixins/_typography.scss",
         "mixins/_placeholder.scss",
         "mixins/_IE7-padding.scss";
