/* line 5, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

html {
  font-size: 16px;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 17, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 23, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

article,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 27, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 33, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 38, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 42, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

html,
button {
  font-family: sans-serif;
}

/* line 46, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

body {
  margin: 0;
}

/* line 54, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

a:focus {
  outline: thin dotted;
}

/* line 59, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

a:active,
a:hover {
  outline: 0;
}

/* line 68, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

ul,
ol,
pre,
h1,
h2,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

/* line 71, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

strong {
  font-weight: bold;
}

/* line 75, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 81, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 85, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 90, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 96, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 99, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 107, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

nav ul {
  list-style: none;
  list-style-image: none;
}

/* line 115, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 124, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  min-height: auto;
  vertical-align: middle;
}

/* line 132, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 140, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 144, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 152, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 156, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 162, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 172, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 180, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

button {
  line-height: normal;
}

/* line 187, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

button {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 194, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 199, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 206, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 214, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 219, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 224, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 234, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 243, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */

/* line 58, /Users/sr/Sites/squealer/sass/base/_helpers.scss */

/* line 14, /Users/sr/Sites/squealer/sass/patterns/_buttons.scss */

.button {
  background-color: orange;
  border-radius: 4px;
  border-radius: 0.25rem;
  border: 3px solid transparent;
  border: 0.1875rem solid transparent;
}

/* line 18, /Users/sr/Sites/squealer/sass/patterns/_buttons.scss */

.button:hover {
  border-color: red;
}

/* # This is a test */

/* Provides extra visual weight and identifies the primary action in a set of buttons.

	<button class="btn primary">Primary</button>

	*/

/* line 31, /Users/sr/Sites/squealer/sass/styles.scss */

@media print {
  /* line 6, /Users/sr/Sites/squealer/sass/base/_print.scss */

  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 14, /Users/sr/Sites/squealer/sass/base/_print.scss */

  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 18, /Users/sr/Sites/squealer/sass/base/_print.scss */

  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, /Users/sr/Sites/squealer/sass/base/_print.scss */

  /* line 30, /Users/sr/Sites/squealer/sass/base/_print.scss */

  a[href^="#"]:after {
    content: "";
  }

  /* line 35, /Users/sr/Sites/squealer/sass/base/_print.scss */

  pre {
    border: 1px solid #999;
    border: 0.0625rem solid #999;
    page-break-inside: avoid;
  }

  /* line 40, /Users/sr/Sites/squealer/sass/base/_print.scss */

  /* line 45, /Users/sr/Sites/squealer/sass/base/_print.scss */

  img {
    page-break-inside: avoid;
  }

  /* line 49, /Users/sr/Sites/squealer/sass/base/_print.scss */

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  /* line 59, /Users/sr/Sites/squealer/sass/base/_print.scss */

  p,
  h2 {
    orphans: 3;
    widows: 3;
  }

  /* line 65, /Users/sr/Sites/squealer/sass/base/_print.scss */

  h2 {
    page-break-after: avoid;
  }

  /* line 68, /Users/sr/Sites/squealer/sass/base/_print.scss */

  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

body {
  margin: 0;
}

#kss-node {
  border-top: 4px solid #972;
  background: #fff;
}

#kss-node .kss-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

#kss-node .kss-wrapper:after,
#kss-node .kss-wrapper:before {
  content: " ";
  display: table;
}

#kss-node .kss-wrapper:after {
  clear: both;
}

#kss-node .kss-sidebar {
  float: left;
  width: 220px;
  overflow: hidden;
}

#kss-node .kss-sidebar-inner {
  padding: 40px 0 10px;
}

#kss-node .kss-header {
  background: #fff;
}

#kss-node .kss-doc-title {
  line-height: 1.3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 0 30px;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  color: #972;
}

#kss-node .kss-doc-title a {
  text-decoration: none;
  color: inherit;
}

#kss-node .kss-nav {
  margin: 30px 0;
}

#kss-node .kss-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#kss-node .kss-menu>.kss-menu-item {
  line-height: 1.3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  font-size: 14px;
  display: block;
}

#kss-node .kss-menu>.kss-menu-item>a {
  display: block;
  padding: 7px 0 7px 5px;
  border-bottom: 1px solid #e3e3e3;
  text-decoration: none;
  font-weight: 700;
  color: #888;
}

#kss-node .kss-menu>.kss-menu-item>a:after,
#kss-node .kss-menu>.kss-menu-item>a:before {
  content: " ";
  display: table;
}

#kss-node .kss-menu>.kss-menu-item>a:after {
  clear: both;
}

#kss-node .kss-menu>.kss-menu-item>a:hover {
  color: #972;
}

#kss-node .kss-menu>.kss-menu-item>a>.kss-ref {
  float: left;
  margin-right: 10px;
  color: #972;
}

#kss-node .kss-menu>.kss-menu-item>a>.kss-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

#kss-node .kss-menu-child {
  display: none;
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
  border-bottom: 1px solid #e3e3e3;
}

#kss-node .kss-menu-child>.kss-menu-item {
  line-height: 1.3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  font-size: 12px;
}

#kss-node .kss-menu-child>.kss-menu-item>a {
  display: block;
  padding: 5px 0 6px 5px;
  text-decoration: none;
  color: #888;
}

#kss-node .kss-menu-child>.kss-menu-item>a:hover {
  color: #972;
}

#kss-node .kss-menu-child>.kss-menu-item>a>.kss-ref {
  float: left;
  margin-right: 10px;
  color: #972;
}

#kss-node .kss-menu-child>.kss-menu-item>a>.kss-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

#kss-node .kss-content {
  overflow: hidden;
  margin-left: 250px;
  padding: 40px 0 10px;
}

#kss-node .kss-section {
  margin: -40px 0 60px;
  padding-top: 40px;
}

#kss-node .kss-overview {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 14px;
}

#kss-node .kss-overview h1,
#kss-node .kss-overview h2 {
  display: block;
  line-height: 1.3;
  font-weight: 700;
}

#kss-node .kss-overview h1 {
  margin: 60px 0 20px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 36px;
}

#kss-node .kss-overview h2 {
  margin: 30px 0 15px;
  font-size: 28px;
}

#kss-node .kss-overview ol,
#kss-node .kss-overview p,
#kss-node .kss-overview pre {
  display: block;
  margin: 15px 0;
}

#kss-node .kss-overview ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 25px;
}

#kss-node .kss-overview pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid #e3e3e3;
}

#kss-node .kss-overview a,
#kss-node .kss-overview code,
#kss-node .kss-overview img,
#kss-node .kss-overview strong {
  display: inline;
}

#kss-node .kss-overview a {
  color: #08a;
  text-decoration: none;
}

#kss-node .kss-overview a:hover {
  text-decoration: underline;
  color: #068;
}

#kss-node .kss-overview img {
  vertical-align: bottom;
}

#kss-node .kss-overview a img {
  border: none;
}

#kss-node .kss-overview strong {
  font-weight: 700;
  font-style: normal;
}

#kss-node .kss-overview code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas,Menlo,'Liberation Mono',Courier,monospace;
  color: #222;
  padding: 1px 2px;
  border: 1px solid #e3e3e3;
  vertical-align: 1px;
}

#kss-node .kss-overview pre>code {
  padding: 0;
  border: none;
}

#kss-node .kss-title {
  line-height: 1.3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  margin: 0 0 10px;
  font-weight: 700;
}

#kss-node .kss-title .kss-ref {
  margin-right: .2em;
  color: #972;
}

#kss-node .kss-description {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 14px;
  margin: 10px 0 20px;
}

#kss-node .kss-description p {
  display: block;
  margin: 15px 0;
}

#kss-node .kss-modifier-block {
  margin: 20px 0;
}

#kss-node .kss-modifier {
  border-top: 1px solid #e3e3e3;
}

#kss-node .kss-modifier-head {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  line-height: 1.5;
  word-wrap: break-word;
  padding: 8px 0 0;
  font-size: 12px;
}

#kss-node .kss-modifier-head p {
  display: block;
}

#kss-node .kss-modifier-head p {
  margin: 0;
}

#kss-node .kss-modifier-head .kss-modifier-name {
  float: left;
  margin-right: 15px;
  font-weight: 700;
}

#kss-node .kss-modifier-head .kss-modifier-description {
  overflow: hidden;
  color: #888;
}

#kss-node .kss-modifier-example {
  padding: 25px 20px 35px;
}

#kss-node .kss-modifier-example:after,
#kss-node .kss-modifier-example:before {
  content: " ";
  display: table;
}

#kss-node .kss-modifier-example:after {
  clear: both;
}

#kss-node .kss-modifier-original .kss-modifier-example {
  padding-top: 35px;
}

#kss-node .kss-markup pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  margin: 0;
  padding: 12px 15px;
  border-top: 1px solid #e3e3e3;
  border-left: 2px solid #972;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

#kss-node .kss-markup code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas,Menlo,'Liberation Mono',Courier,monospace;
  color: #222;
}

#kss-node .kss-overview>h1:first-child {
  margin: -.15em 0 20px;
  border-bottom: 2px solid #972;
  font-size: 42px;
}

#kss-node .kss-depth-2 .kss-title {
  font-size: 28px;
}

#kss-node .kss-footer {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 80px 0 20px;
  padding: 8px 0 0;
  border-top: 2px solid #e3e3e3;
  font-size: 12px;
}

#kss-node .kss-footer a {
  display: inline;
}

#kss-node .kss-footer a {
  color: #08a;
  text-decoration: none;
}

#kss-node .kss-footer a:hover {
  text-decoration: underline;
  color: #068;
}

@media (min-width:1260px) {
  #kss-node .kss-wrapper {
    width: 1240px;
  }
}
