/* line 5, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* line 17, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 23, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

/* line 27, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 33, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 38, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
[hidden] {
  display: none; }

/* line 42, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 46, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
body {
  margin: 0; }

/* line 54, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
a:focus {
  outline: thin dotted; }

/* line 59, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
a:active, a:hover {
  outline: 0; }

/* line 68, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
ul, ol, dd, menu, dl, figure, pre, table, fieldset, legend, hr, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0; }

/* line 71, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
b, strong {
  font-weight: bold; }

/* line 75, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 81, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
q {
  quotes: none; }

/* line 85, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 90, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 96, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
sup {
  top: -0.5em; }

/* line 99, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
sub {
  bottom: -0.25em; }

/* line 107, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 115, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
li > ul, li > ol {
  margin-bottom: 0; }

/* line 124, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  min-height: auto;
  vertical-align: middle; }

/* line 132, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 140, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
figure {
  margin: 0; }

/* line 144, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
figure > img {
  display: block; }

/* line 152, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
form {
  margin: 0; }

/* line 156, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 162, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 172, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 180, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
button, input {
  line-height: normal; }

/* line 187, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 194, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 199, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 206, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 214, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 219, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 224, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* line 234, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 243, /Users/sr/Sites/squealer/sass/base/_bizarro.scss */
.chromeframe {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0; }

/* line 58, /Users/sr/Sites/squealer/sass/base/_helpers.scss */
li > ul, li > ol {
  margin-bottom: 0; }

/* line 14, /Users/sr/Sites/squealer/sass/patterns/_buttons.scss */
.button {
  background-color: orange;
  border-radius: 4px;
  border: 3px solid transparent; }
  /* line 18, /Users/sr/Sites/squealer/sass/patterns/_buttons.scss */
  .button:hover {
    border-color: red; }

/* # This is a test */
/* Provides extra visual weight and identifies the primary action in a set of buttons.

	<button class="btn primary">Primary</button>

	*/
/* line 31, /Users/sr/Sites/squealer/sass/styles.scss */
.btn.primary {
  background: steelblue;
  color: snow;
  border: 2px outset steelblue; }

@media print {
  /* line 6, /Users/sr/Sites/squealer/sass/base/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 14, /Users/sr/Sites/squealer/sass/base/_print.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 18, /Users/sr/Sites/squealer/sass/base/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 22, /Users/sr/Sites/squealer/sass/base/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 30, /Users/sr/Sites/squealer/sass/base/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 35, /Users/sr/Sites/squealer/sass/base/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 40, /Users/sr/Sites/squealer/sass/base/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 45, /Users/sr/Sites/squealer/sass/base/_print.scss */
  tr, img {
    page-break-inside: avoid; }

  /* line 49, /Users/sr/Sites/squealer/sass/base/_print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 59, /Users/sr/Sites/squealer/sass/base/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 65, /Users/sr/Sites/squealer/sass/base/_print.scss */
  h2, h3 {
    page-break-after: avoid; }

  /* line 68, /Users/sr/Sites/squealer/sass/base/_print.scss */
  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
 }

/*# sourceMappingURL=styles.css.map */