//-
//- ACCESSIBILITY NAVIGATION
//- ========================
//- Appears first in tabbing order.
//-
//- Add more links as requires by each project, for example to a search page
//- or accessibility statement.
//-


.a11y-navigation
  a(href='#content') Jump to Main Content
  a(href='#navigation') Jump to Primary Navigation
